:root {
    /* Farve palette */
    --f-1: #534f59;
    --f-2: #dde364;
    --f-3: #315937;
    --f-4: #21402e;
    --f-5: #102226;
    --f-8: #d2b0b0;

}
   

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 








body {
         overflow: hidden;

      }


h1{
    font-family: 'Raleway', sans-serif;
}

h2{
     font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
         font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
      .weatherInfo {
          border: 1px solid lawngreen;
      }


hr {
    border: 4px solid #dde364;
}


.vl {
  border-left: 8px solid #dde364;
  height: 200px;
}


#logoH{
    height: 120px;
 
}

#infobartop{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #534f59; 
}

#uret{ 
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #dde364;
}



#clock {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
   font-size: 100px;
    
}

#date {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: -9px;
    color: #dde364;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


#date span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-weight: 800;
    color: #ffffff;
    
}

#sec {
    
    display: none;
    font-size: 60px;
    margin-top: -28px;
    font-weight: bold;
    color: #F44336;
}

#sec span {
    
    color: #4a4848;
    font-size: 130px;
    font-weight: bold;
}


#sprog{
    width: 50px;
}



footer {
    background-color: #dde364;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

fContainer{
 
}

#footInfo{
    position: absolute;
    background-color: #dde364;
    width: 150px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    z-index: 10;
}



.button {
    position: fixed;
    left: 100px;
    top: 300px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    z-index: 99;
}


#myBtn{
  
   
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  width: 80%; /* Could be more or less, depending on screen size */
    
}

/* The Close Button */
.close {
  color: var(--f-2);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}







/* Modal Header */



.modal-header {
  padding: 2px 16px;
    height: 300px;
    color: var(--f-2);
    background-image: url(img/facade.png);
    background-size: cover;
}



.mHeader{
    font-size: 250px;
    margin: auto;
}

mPa{
    
}




/* Modal Body */
.modal-body {padding: 20px 16px;
}


.mHeader2{
    font-size: 60px;
    text-align: center;
}

.mPa2{
    text-align: center;
}


.mHeader3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}


/* Modal Footer */
.modal-footer {
    
    display: flex;
    justify-content: space-between;
  padding: 20px 16px;
    max-width: 800px;
  margin: auto;
}




.imgIcon{
    width: 90px;
    padding: 20px;
}



/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px;  
  padding-top: 0;
  border: 25px solid rgba(221, 227, 100, 1);
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.4s;
    background-color: #fefefe;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}













#canvas{
   display: none;
}





#skyer{
     display: none;
}

.clouds{
  width:100%;
  height:100vh;
  position:relative;
  top:0;
  overflow:hidden;
    
}
.clouds .cloud{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%; background:url('https://media.discordapp.net/attachments/708322953649193040/709058890733584484/p-trans.png');
  background-size:200px 150px;
  background-repeat:no-repeat;
}
.clouds .cloud.cloud1{
	animation:animate 230s linear infinite;
	z-index:80;
	opacity:1;
	animation-delay:0s;
}
.clouds .cloud.cloud2{
  animation:animate2 170s linear infinite;
  z-index:79;
  opacity:0.5;
  top:10px;
  background-position-x: -200px;
  animation-delay:5s;
}
.clouds .cloud.cloud3{
  animation:animate3 160s linear infinite;
  z-index:78;
  opacity:0.7;
  top:5px;
  background-position-x:1500px;
  animation-delay:1s;
}
.clouds .cloud.cloud4{
  animation:animate4 225s linear infinite;
  z-index:77;
  opacity:0.4;
  top:30px;
  background-position-x:1300px;
  animation-delay:.5s;
}
@keyframes animate{
	0%{
		background-position-x: -200px;
	}
	100%{
		background-position-x: 1500px;
	}
}
  @keyframes animate2{
	0%{
		background-position-x: -200px;
	}
	100%{
		background-position-x: 1500px;
    }
}
@keyframes animate3{
  0%{
    background-position-x:1500px;
  }
  100%{
    background-position-x:-200px;
  }
}
@keyframes animate4{
  0%{
    background-position-x:1300px;
  }
  100%{
    background-position-x:-200px;
  }
}
.airfy{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-family:'Permanent Marker', cursive;
  font-size:60px;
  z-index:1001;
  animation:float 1.5s ease-in-out infinite;
  animation-direction:alternate;
}
@keyframes float{
  from{top:50%;}
  to{top:55%;}
}












/* OUTER CONTAINER

https://code-boxx.com/html-css-news-ticker-horizontal-vertical/

*/
.tcontainer {
    padding-top: 30px;
  width: 100%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  overflow: hidden; /* Hide scroll bar */
    
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: #dde364;
    
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
}









